<div class="container">
  <div class="row">
    <% @vans.each do |van| %>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
          <%= link_to van_path(van), class:"text-decoration-none text-reset" do %>
            <div class="card-trip">
              <img src="https://images.unsplash.com/photo-1594495894542-a46cc73e081a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
              <div class="card-trip-infos">
                <h2><%= van.title %></h2>
                <p>Price/day: €<%= van.price_per_day %></p>
              </div>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
