// Define variables for your color scheme
$letter: #000000;
$letter_home: #EAE5CA;

$button: #185D7B;
$button_home: #F99219;

$background : #ffffff;
$background_home : #185D7B;
$background_form : #F99219;


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
