.gif-image {
  object-fit: cover;
  height: 200px;
  width: 100vw;
}

.form {
  background-color: $background_form;
  font-size: 16px;
}

.submit-button {
  background-color: $background_home;
  font-size: 20px;
  margin-bottom: 20px;
}
