// Specific CSS for your home-page
.body-home {
  min-height: 100vh;
  background-color: $background_home;
  padding-top: 7em;
}

.picture-home {
  max-width: 70vw;
  display: block;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  color: white;
  padding-top: 90px;
  padding-bottom: 40px;
  font-size: 48px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan_your_escape_button,
.rent_your_van_button {
  text-align: center;
  border-radius: 30px;
  width: 70%;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: $button_home;
  margin-bottom: 1.8em;
}

.plan_your_escape_button {
  background-color: $button_home;
}

.rent_your_van_button {
  background-color: $button;
  border: 1px solid #ffffff;
  color: #ffffff;
}

@media(min-width: 480px) {
  .body-home {
    padding-top: 0em;
  }

  .picture-home {
    max-width: 30vw;
  }

  .subtitle {
    padding-top: 70px;
    font-size: 60px;
  }

  .plan_your_escape_button,
  .rent_your_van_button {
    width: 25%;
    font-size: 30px;
    padding: 15px;
  }
}
