h1 {
  font-size: 50px;
  padding-bottom: 40px;
}

.van-reservation-button {
  background-color: #F99219;
  color: black;
  margin-top: 40px;
  font-size: 20px;
}

.my-van-reservation {
  background-color: #185D7B;
  height: 150vh;
  margin-top: -50px;
  padding-top: 60px;
}
