.img-in-carousel {
  object-fit: cover;
  height: 250px;
  width: 100vw;
}

// .card {
//   background-color: #ffffff;
//   font-size: 14px;
//   border-radius: 10px;
//   box-shadow: 5px;
//   font-style: $body-font;
// }

h1 {
  font-style: $headers-font;
  letter-spacing: 2px;
  font-size: 35px;
}

.yellow {
  background-color: $button_home
}

.rentals {
  background-color: white;
  border-color: #185D7B;
  font-size: 20px;
}

.update-myvan {
  font-size: 20px;
}

.delete-it {
  font-size: 20px;
}
