<div class="navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "wanderwheels-logo.png" %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, class: "text-white", data: {turbo_method: :delete} %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "text-white me-4" %>
    <% end %>
</div>
