<div class="body-home">

<%= image_tag "homepage_logo.png", alt: "Wander Wheels homapage", class: "picture-home" %>

  <div class=”container mt-5”>
    <h2>Connect with people</h2>

    <button type="button" class="btn btn-info">Plan Your Next Escape</button>
    <button type="button" class="btn btn-secondary">Rent Your Van</button>

  </div>
</div>
