<div class=”container mt-5”>
  <h1> WANDER WEELS </h1>
  <h2>Connect with people</h2>

  <button type="button" class="btn btn-info">Plan Your Next Escape</button>
  <button type="button" class="btn btn-secondary">Rent Your Van</button>

</div>
